#Barra {
    height: 3%;
    background-color:   #081A4E;
    /*margin: 0.2em auto;*/
    text-align: center;
    font-size: small;    
}
img{
    max-width: 10 rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: left: 5px;
    margin-right: 5px;
    display:inline;
}